/* DATE TIME PICKER CUSTOM STYLE */
.tempus-dominus-widget {
    max-width: 100%;
}

.calendar-container {
    z-index: 1050;
}

.fc {
    z-index: 10;
}

.tempus-dominus-widget .date-container {
    font-size: 14px;
    font-weight: 400;
}

.tempus-dominus-widget .calendar-header .picker-switch,
.next,
.previous {
    padding: 5px;
    border-radius: 3px;
}

.tempus-dominus-widget .calendar-header .picker-switch {
    width: 100%;
}

.tempus-dominus-widget .calendar-header .next,
.tempus-dominus-widget .calendar-header .previous {
    padding: 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempus-dominus-widget .calendar-header .picker-switch:hover,
.next:hover,
.previous:hover {
    background-color: #e9ecef;

}

.tempus-dominus-widget .date-container-days .day {
    border-radius: 3px !important;
    padding: 3px !important;
}

.tempus-dominus-widget div {
    border-radius: 3px !important;
}

.tempus-dominus-widget.light button {
    background-color: #800000;
    border-color: #800000bb;
    color: var(--td-active-color);
    font-size: 13px !important;
}

.tempus-dominus-widget .active {
    background-color: #800000 !important;
    border-color: #800000bb !important;
    color: var(--td-active-color);
}

.tempus-dominus-widget .today::before {
    border-bottom-color: #800000 !important;
}

/* CALENDAR CUSTOM STYLES */

#external-events .fc-event {
    z-index: 9999; /* Ensure that the draggable event is on top of other elements */
    pointer-events: auto;
}

#calendar {
    position: relative; /* Make sure calendar container is positioned */
}

.fc-toolbar-title {
    font-weight: 500;
}

#calendar a {
    text-decoration: none;
    color: black !important;
    font-weight: 400;
}

.fc-col-header-cell {
    background-color: #f2f4f5 !important;
}

/* General styling for the toolbar */
.fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust spacing between chunks */
    align-items: center;
    gap: 10px;
}

.colorPreview { 
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* height: 50px; */
}

#external-events {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    margin-bottom: 20px;
}
.fc-event {
    margin: 10px 0;
    padding: 5px;
    /* background: #007bff; */
    /* color: #fff; */
    border-radius: 3px;
    cursor: pointer;
}

.event-ended, .event-past {
    opacity: 0.5;
    pointer-events: none; 
}

.event-ended span,
.event-past span {
    text-decoration: line-through;
}

.appointments-container {
    transform: translateY(-20px); /* Start 20px above the view */
    opacity: 0; /* Initially hidden */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.appointments-container.show {
    transform: translateY(0); /* Slide into normal position */
    opacity: 1; /* Fade in the modal body */
}

.appointments {
    max-height: 500px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    overflow-y: auto;
    overflow-x: hidden;
}

#tblAppointments tbody tr {
    height: 80px; /* Adjust row height */
}

#tblAppointments th,
#tblAppointments td {
    vertical-align: middle; /* Vertically center content */
}

#tblAppointments .imgReceipt {
    width: 50px;
    height: 50px;
}

#tblAppointments .imgUser {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

#tblAppointments .iconReceipt {
    cursor: pointer;
}

/* DATA TABLE CUSTOM STYLES */

#tblAppointments_wrapper #dt-length-0,
#tblAppointments_wrapper .dt-search label {
    margin-right: 8px;
}

div.dt-container .dt-input,
div.dt-container .dt-search input  {
    border: 1px solid #800000;
}

div.dt-container .dt-search input:focus-visible {
    outline: 2px solid #800000;  /* Add a green outline when focused */
    border: 1px solid #800000;   /* Change border color on focus */
    background-color: #f0f0f0;   /* Light gray background on focus */
    color: #333;                 /* Change text color */
    box-shadow: 0 0 5px rgba(128, 0, 0, 0.5); /* Add subtle box shadow */
    transition: all 0.2s ease;   /* Smooth transition */
}
/* 
[id*="btn"] {

} */

/* Mobile-specific styling */
@media (max-width: 768px) {

    .fc-header-toolbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Adjust spacing between chunks */
        align-items: center;
        gap: 10px;
    }

    .fc-left {
        order: 1; /* Place on the left */
        flex: 1; /* Allow space for alignment */
        text-align: left;
    }
    
    .fc-right {
        order: 2; /* Place on the right */
        flex: 1; /* Allow space for alignment */
        text-align: right;
    }
    
    .fc-center {
        order: 3; /* Place below */
        width: 100%; /* Make it take the full width */
        text-align: center;
        margin-top: 10px; /* Add spacing if needed */
    }
}

@media screen and (max-width: 767px) {
    div.dt-container div.dt-layout-row:not(.dt-layout-table) {
        display: flex;
    }
}

@media screen and (max-width: 576px) {

    /* Data table entries and search container */
    #tblAppointments_wrapper > div:nth-child(1) {
        display: flex;
    }

    /* Data table pagination container */
    #tblAppointments_wrapper > div:nth-child(3) {
        margin-top: 10px;
        display: block;
    }

}