* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}   

/*************************** FONTS ************************************/

@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Light.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Medium.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-SemiBold.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Bold.ttf) format('truetype');
    font-weight: 700;
}

/*************************** COLORS ************************************/

.bg-primary {
    background-color: #161616 !important;
    /* background-color: #2e2f5b !important; */
    /* color: #a39d98; */
}

.bg-secondary {
    background-color: #2b2b2b !important;
    /* background-color: #505581 !important; */
    /* color: #a39d98; */
}

.bg-accent {
    background-color: #800000;
    /* background-color: #f4d35e; */
}

.bg-highlights {
    /* background-color: #faf0ca; */
}

.text-secondary {
    color: #a39d98 !important;
}

/*************************** FONT SIZE ************************************/

.font-sm {
    font-size: 12px;
}

.font-md {
    font-size: 14px;
}

.font-lg {
    font-size: 22px;
}

.font-xl {
    font-size: 24px;
}

.font-xxl {
    font-size: 28px;
}

.font-xxxl {
    font-size: 34px;
}

/*************************** FONT WEIGHTS ************************************/

.light-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}
.regular-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}
.medium-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}
.semi-bold-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}
.bold-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}

/*************************** CUSTOM ELEMENTS STYLES ************************************/

.btn {
    transition: transform 0.3s ease; /* Animation effect */
}

.btn:hover {
    transform: scale(1.05);
    background-color: #960303;
    border: #960202e6;
}

.btn-custom-color {
    background-color: #800000;
    border: #800000e6;
}

.content {
    min-height: calc(100vh - 50px);
}

 /* Adjust the font size for smaller screens */
 /* @media (max-width: 1300px) {
    .font-xxl {
        font-size: 20px; Font size for tablets and smaller devices
    }
}

 @media (max-width: 992px) {
    .font-xxl {
        font-size: 16px; Font size for tablets and smaller devices
    }
}

 @media (max-width: 768px) {
    .font-xxl {
        font-size: 14px; Font size for tablets and smaller devices
    }
}

@media (max-width: 576px) {
    .font-xxl {
        font-size: 10px; Font size for mobile devices
    }
} */