* {
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

body {
    letter-spacing: 0;
    -webkit-font-smoothing: antialiased;
}

/*************************** FONTS ************************************/

@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Light.ttf) format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Regular.ttf) format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Medium.ttf) format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-SemiBold.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Fredoka';
    src: url(../../fonts/Fredoka-Bold.ttf) format('truetype');
    font-weight: 700;
}

/*************************** COLORS ************************************/

.bg-primary {
    background-color: #161616 !important;
    /* background-color: #2e2f5b !important; */
    /* color: #a39d98; */
}

.bg-secondary {
    background-color: #2b2b2b !important;
    /* background-color: #505581 !important; */
    /* color: #a39d98; */
}

.bg-accent {
    background-color: #800000;
    /* background-color: #f4d35e; */
}

.bg-highlights {
    /* background-color: #faf0ca; */
}

.text-secondary {
    color: #a39d98 !important;
}

/*************************** FONT SIZE ************************************/

.font-xs {
    font-size: 12px;
}

.font-sm {
    font-size: 14px;
}

.font-md {
    font-size: 18px;
}

.font-lg {
    font-size: 24px;
}

.font-xl {
    font-size: 28px;
}

.font-xxl {
    font-size: 34px;
}

.font-xxxl {
    font-size: 38px;
}

/*************************** FONT WEIGHTS ************************************/

.light-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 300;
}

.regular-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.medium-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 500;
}

.semi-bold-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 600;
}

.bold-text {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
}

/*************************** CUSTOM ELEMENTS STYLES ************************************/

.btn {
    transition: transform 0.3s ease;
    /* Animation effect */
}

.btn:hover {
    transform: scale(1.05);
    background-color: #960303;
    border: #960202e6;
}

.btn-custom-color {
    background-color: #800000;
    border: #800000e6;
}

h1 {
    font-size: 1.875rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.3125rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: .9375rem;
}

h6 {
    font-size: .75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.page-container {
    padding-top: 50px;
    transition: opacity .15s linear;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.sidebar {
    width: 220px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 50px;
    transition: width 0.3s;
}

.content {
    margin-left: 220px;
    background-color: rgb(231, 231, 231);
    padding: 20px 30px;
    min-height: calc(100vh - 50px);
}
