.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 350px;
    /* border-top: 3px solid #00ff00; */
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.card-body {
    position: relative;
}

.card-heading {
    margin-bottom: 1rem;
}

.card-footerr {
    position: absolute;
    padding: .75rem 1rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-timer {
    position: absolute;
    top: -20px;
}

#bookingStatus {
    border-radius: .25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #800000;
    color: black;
    background-color: #f8f1f1f5;
}

#frmSchedule {
    /* opacity: 0; 
    transition: opacity 0.5s ease-in-out;  */
    transform: translateY(-20px); /* Start 20px above the view */
    opacity: 0; /* Initially hidden */
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
#frmSchedule.show {
    transform: translateY(0); /* Slide into normal position */
    opacity: 1; /* Fade in the modal body */
}

/* DROPZONE */

/* General Dropzone Styling */
.dropzone, .imageReceipt {
    border: 2px dashed #007bff; /* Elegant blue border */
    border-radius: 10px; /* Rounded corners */
    background-color: #f9f9f9; /* Light background */
    padding: 20px; /* Add padding inside the Dropzone */
    text-align: center; /* Center align text */
    font-family: Arial, sans-serif; /* Elegant font */
    color: #333; /* Neutral text color */
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.dropzone:hover {
    background-color: #e9f5ff; /* Light blue background on hover */
    border-color: #0056b3; /* Darker border on hover */
}

.imageReceipt img {
    cursor: pointer;
    border-radius: 3px !important;
    transition: all 0.3s ease;
}

.imageReceipt img:hover {
    transform: scale(1.05);
}

.dz-remove {
    color: #dc3545;
}

.dz-remove i::before {
    cursor: pointer;
}

.dz-remove:hover {
    color: #dc3545;
}

.dz-progress {
    background: #6c757d !important;
}