.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    height: 315.188px;
    /* border-top: 3px solid #00ff00; */
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.card-body {
    position: relative;
}

.card-heading {
    margin-bottom: 1rem;
}

.card-footerr {
    position: absolute;
    padding: .75rem 1rem;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-timer {
    position: absolute;
    top: -20px;
}