.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-top: 3px solid #00ff00;
}

.card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.card-heading {
    margin-bottom: 1rem;
}

.card-footerr {
    padding: 12px 0px 5px 0px;
}
