header {
    /* min-width: calc(100vw - 100px); */
    height: 50px;
    padding: 0;
}

header .row {
    height: 50px;
    
}

.logo, .logo:hover {
    text-decoration: none;
}

.profile {
    cursor: pointer;
    transition: all 0.3s ease;
}

.profile:hover {
    background-color: #ededed;
}

.profile img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid #a39d98;
}
